.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.signup-container {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 350px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.signup-form input {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 16px;
}

.signup-form button {
  background-color: #2575fc;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.signup-form button:hover {
  background-color: #1b5ed7;
}

.error-text {
  color: red;
  font-size: 14px;
  text-align: center;
}
